<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <h2
      class="title d-flex justify-content-center align-items-center text-center mt-3 mb-5"
    >
      POC PWA
      <img
        style="margin-top: -8px; object-fit: cover"
        *ngIf="connectionType === '4g'"
        src="/4g.png"
        alt="4G Image"
        width="30px"
        height="30px"
        class="ms-2"
      />
      <img
        style="margin-top: -8px; object-fit: cover"
        *ngIf="connectionType === '3g'"
        src="/3g.png"
        alt="3G Image"
        width="30px"
        height="30px"
        class="ms-2"
      />
      <img
        style="margin-top: -8px; object-fit: cover"
        *ngIf="connectionType === '2g'"
        src="/2g.png"
        alt="2G Image"
        width="30px"
        height="30px"
        class="ms-2"
      />
      <img
        style="margin-top: -8px; object-fit: cover"
        *ngIf="connectionType === 'wifi'"
        src="/wifi.png"
        alt="WiFi Image"
        class="ms-2"
      />
    </h2>

    <button class="btn btn-primary mb-3" (click)="sendNotification()">
      Send Push Notification
    </button>
    <button class="btn btn-primary mb-3" (click)="allowNotification()">
      Autorize notification
    </button>
    <button class="btn btn-success mb-3" (click)="requestBluetoothDevice()">
      Connect to Bluetooth Device
    </button>
    <button class="btn btn-success mb-3" (click)="requestContact()">
      Contact
    </button>
    <button class="btn btn-danger mb-3" (click)="requestWebCam()">
      WebCam
    </button>
    <button class="btn btn-danger mb-3" (click)="requestLocation()">
      Find Me
    </button>

    <div class="video-container d-flex flex-column">
      <video id="webcam" autoplay playsinline></video>
      <button
        *ngIf="isWebCamActive"
        class="btn btn-danger mt-3 mb-3"
        (click)="stopWebCam()"
      >
        Stop WebCam
      </button>
    </div>
    <p id="status"></p>
    <a id="map-link" class="mb-3" target="_blank"></a>

    <p class="alert alert-primary" *ngIf="registrationToken">
      <strong>Registration Token:</strong><br />
      {{ registrationToken }}
    </p>
    <div class="alert alert-primary" *ngIf="notificationPayload" role="alert">
      <h3>{{ notificationPayload.notification.title }}</h3>
      <h4>{{ notificationPayload.notification.body }}</h4>
    </div>
    <div class="alert alert-success" *ngIf="!notificationPayload">
      <h3 class="title">Aucune Message Arrivée</h3>
    </div>
  </div>
</div>
