/* body {

    background-color: var(--background-color);
  }
  
  .btn-layout {
      
    background-color: var(--background-btn-color);
  
    border: var(--btn-border);
  
    color: var(--btn-text-color);
  
    padding: var(--btn-padding);
  
    font-family: var(--font-family);
  
    border-radius: var(--btn-radius);
  
    font-weight: var(--fw-bold);
  }
   */
